<footer>
    <section class="social"> 
        <p>Seguí a GamerLab</p>
            <div class="links">
                <a onclick="Swal.fire('@gamberlab')">
                    <i class="fab fa-instagram"></i>
                </a>
                <a onclick="Swal.fire('GamerLab')">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a onclick="Swal.fire('contacto@gamerlab.com')">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
    </section >
    
    <hr class="hr-footer">

    <section class="main-footer">
        <div class="footer-container">
            <ul class="columna1">
                <li>
                    <a href="/contact">
                        <h3>Cambios y devoluciones</h3>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        <h3>Formas de pago</h3>
                    </a>
                </li>
            </ul>
           
            <ul class="columna2">
                <li>
                    <a href="/contact">
                        <h3>Sobre nosotros</h3>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        <h3>Trabajá con nosotros</h3>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        <h3>Sucursales</h3>
                    </a>
                </li>
            </ul>    
        </div>
        
    <h3 class="copy">GamberLab Copyrights
        <i class="far fa-registered"></i>
    </h3>  

    </section>
</footer>