<header class=main-header>
  
    <div class="topnav">
        <a href="/" class="active"><img src="/img/logoGamerLabBlanco.png" class="logo" alt="Logo GamerLab"></a>
            
        <div id="myLinks">
            <a href="/products/producto">Todos los productos</a>
            <a href="/products/categoria/1">Notebooks</a>
            <a href="/products/categoria/2">Monitores</a>
            <a href="/products/categoria/3">Teclados y mouses</a>
            <a href="/products/categoria/4">Audio</a>
            <a href="/products/categoria/5">Placa de video</a>
            <a href="/products/categoria/6">Arm치 tu PC</a>
            <a href="/products/categoria/7">Sillas gamer</a>
        </div>
            
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fas fa-bars fa-10x"></i>
        </a>
    </div>


    <nav class="main-header-top-bar">

        <div class="barra-izquierda">
            <a href="/"><img src="/img/logoGamerLabBlanco.png" class="logo" alt="Logo GamerLab"></a>
        </div>

    <div class="search-bar">
        <div class="searchbar">
            <form class="search-form" action="/products/search" method="GET">
                <input name="keyword" type="text" id ="formulario" class="barra-buscadora" placeholder="Busca productos">
                <button class="search-button" id = "boton" type="submit">
                    <i class="fas fa-search fa-2x"></i>
                </button> 
            </form>                
        </div>
    </div>


        <div class="barra-derecha">

            <% if (locals.isLogged) { %>
                <div class="barra-logeado">  
                    <img src="/img/avatars/<%=locals.userLogged.imagen %>" style="width: 30%; height: 80px;" class="avatarpeque침o">
                        <ul class="ul-opciones">
                            <li><a href="/users/profile"> Hola, <%= locals.userLogged.nombre %></a></li> 
                            <li><a class="" href="/users/logout">Cerrar sesi칩n</a></li>
                            <li type="button" class= "icono-carrito"><i class="fas fa-shopping-cart"></i></li>
                        </ul>
                </div>
                
            <% } else { %>
                <div class="items-barra-logeo">
                    <li><a href="/users/register"><i class="fas fa-sign-in-alt fa-2x"></i>Registrarse</a></li>
                    <li><a href="/users/login"><i class="fas fa-user-circle fa-2x "></i>Login</a></li>
                    <li><button class="icono-carrito"><i class="fas fa-shopping-cart"></i><a class="color-carrito">Carrito</a></button></li>     
           <% } %>

            <div id="carrito">  
                <table id="lista-carrito" class="table">
                    <thead>
                        <tr>
                            <th>Imagen</th>                                    
                            <th>Nombre</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div class="opciones-carrito">
                    <li><a href="#" id="vaciar-carrito" class="btn btn-primary btn-block">Vaciar Carrito</a></li>
                    <li><a href="#" id="procesar-pedido" class="btn btn-danger btn-block">Procesar Compra</a></li>
                </div>    
            </div>
        </div>  
    </nav>


    <div class="main-header-bottom-bar">
        <ul class="menu-productos1">
            <li><a href="/products/producto" category="all" class="category_item">Todos los productos</a></li>
            <li><a href="/products/categoria/1" category="notebooks" class="category_item">Notebooks</a></li>
            <li><a href="/products/categoria/2" category="monitores" class="category_item">Monitores</a></li>
            <li><a href="/products/categoria/3" category="teclados-mouses" class="category_item">Teclados y mouses</a></li>
            <li><a href="/products/categoria/4" category="audios" class="category_item">Audio</a></li>
            <li><a href="/products/categoria/5" category="placas" class="category_item">Placa de video</a></li>
            <li><a href="/products/categoria/6" category="pc" class="category_item">Arm치 tu PC</a></li>
            <li><a href="/products/categoria/7" category="sillas-escritorios" class="category_item">Sillas gamer</a></li>
        </ul>
    </div>
    

    <script src="/js/show-hide.js"></script>
    <script src="/js/burger.js"></script>
    <script src="/js/carrito.js"></script>
    
</header>